.footer {
    background-color: var(--main-color);
    color: #eee;
    height: 100%;
    margin-top: 30px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
}

.cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    font-size: 17px;
    font-weight: 600;
    /* color: rgba(6, 17, 5, 0.767); */
    margin: 80px;
    margin-top: 30px;
    margin-bottom: 10px;
    /* background-color: greenyellow; */

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
}

.footerLink {
    margin-bottom: 20px;
    padding: 0px 5px;
    transition-duration: 150ms;
}

.footerLink:hover {
    color: #eee;
    border-left: solid 3px #eee;
    text-decoration: none;
}

.credits {
    text-align: center;
    /* color: rgba(6, 17, 5, 0.767); */
    font-size: 13px;
    margin-bottom: 15px;
}

.credits:hover {
    color: #eee;
}
@media(max-width: 885px) {
    .col {
    width: 250px;

    }
}

